body
{
    margin-left: 5vw;
    margin-right: 5vw;
}

li a 
{
    text-decoration: none;
}

button
{
    cursor: pointer;
    height: 40px;
    width: 65px;
    border: 2px darkgray solid;
    border-radius: 10px;
}
